body {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f7f5; 
    color: #3c3c3c; 
}

header {
    background-color: #4e92a3; 
    color: #ffffff; 
    text-align: center;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.organization {
    background-color: #ffffff; 
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
p{
    color: #000000; 
}
a {
    color: #2e6f80; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4e92a3; 
    color: #ffffff; 
    bottom: 0;
    width: 100%;
}